/*字体颜色*/
/*主要字色*/
/*标题*/
/*二级标题、简介*/
/*主题字色*/
/*突出色*/
/*界面主题色*/
/*主题风格色*/
/*背景色*/
/*线条颜色*/
/*线条颜色*/
/*跟随主题色变化的背景色*/
/*字体大小 ，如果出现非单行情况可搭配行高，*/
/*头部标题*/
/*辅助标题*/
/*主要标题*/
/*主要简介、二级标题*/
/*主要简介、二级标题*/
/*各类间距，高度*/
/*横向间距*/
/*纵向间距*/
.page-shop-distribution_goods_list .searchbar {
  position: absolute;
  width: 100%;
  padding: 0.5rem;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 999;
}
.page-shop-distribution_goods_list .searchbar .search-input {
  margin: 0;
  width: 85%;
}
.page-shop-distribution_goods_list .shop-nav {
  background: #fff;
  height: 40px;
  line-height: 40px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  top: 2.4rem;
}
.page-shop-distribution_goods_list .shop-nav select {
  -webkit-appearance: none;
  padding: 0px 27px;
  border: 0;
  font-size: 0.7rem;
  background: none;
}
.page-shop-distribution_goods_list .shop-nav a {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: block;
  text-align: center;
  font-size: 0.7rem;
}
.page-shop-distribution_goods_list .shop-nav a .iconfont {
  font-size: 0.6rem;
  margin-left: 0.25rem;
}
.page-shop-distribution_goods_list .shop-nav a.active {
  color: #ff7552;
}
.page-shop-distribution_goods_list .bar-nav ~ .content {
  top: 2.4rem;
}
.page-shop-distribution_goods_list .shop-list {
  margin: 0.5rem 0;
  background: #fff;
  padding: 0 0.5rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item {
  display: -webkit-box;
  padding: 0.5rem 0;
  border-bottom: 1px solid #dedede;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-image {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 0.5rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-image img {
  width: 100%;
  height: 100%;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info {
  font-size: 0.7rem;
  -webkit-box-flex: 1;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info p {
  line-height: 1.2;
  margin-top: 0.2rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-title {
  font-size: 0.75rem;
  height: 1.8rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-price {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #555;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-price .s-r {
  font-size: 0.6rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-btn {
  color: #ff7552;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-btn .s-l {
  margin-top: -0.5rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item .item-info .item-info-btn .button {
  display: inline-block;
  font-size: 0.65rem;
}
.page-shop-distribution_goods_list .shop-list .shop-item:last-child {
  border-bottom: 0;
}
