/*// 主题色*/
/*字体主色调*/
/*线条主色调*/
/*按钮主色调*/
/*底纹色*/
.tree-contentlist > h1 {
  font-size: 14px;
  font-style: normal;
  color: #000;
  padding-bottom: 15px;
}
.tree-contentlist > .list {
  padding-left: 120px;
  position: relative;
  margin-bottom: 10px;
  width: 700px;
}
.tree-contentlist > .list > .caption {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 37px;
  width: 110px;
  text-align: right;
  font-weight: normal;
}
.tree-contentlist > .list > .caption em {
  padding-right: 5px;
}
.tree-contentlist > .list.name {
  width: 300px;
}
.tree-contentlist > .list .sexbox {
  line-height: 42px;
}
.tree-contentlist > .list .radiosex {
  padding-right: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.tree-contentlist > .list .radiosex input {
  margin-right: 3px;
}
.tree-contentlist > .list.area {
  width: 490px;
}
.tree-contentlist > .list.area .select2-container {
  min-width: 180px;
}
.tree-contentlist > .list.save {
  width: 220px;
}
.tree-contentlist {
  width: 100%;
  padding: 20px;
  padding-left: 30px;
  position: relative;
  border-bottom: 1px solid #e5e4e9;
}
.tree-contentlist2 {
  width: 100%;
  padding: 20px;
  padding-left: 30px;
  position: relative;
  border-bottom: 1px dashed #e5e4e9;
}
.tree-contentlist2 > label {
  float: left;
  color: #000;
  font-weight: normal;
  padding-right: 15px;
}
.tree-contentlist2 .setted {
  padding-right: 10px;
}
.tree-contentlist2 .setted i {
  margin-right: 8px;
}
.tree-contentlist2 .a-link {
  padding-left: 10px;
  border-left: 1px solid #e5e4e9;
  line-height: 16px;
  margin-top: 4px;
}
.tree-contentlisthead {
  width: 100%;
  padding: 30px;
  position: relative;
  border-bottom: 1px solid #e5e4e9;
}
.tree-contentlisthead .headimg {
  border-radius: 9999px;
  padding: 3px;
  background-color: #f2f2f2;
  width: 90px;
  height: 90px;
}
.tree-contentlisthead .headimg a {
  border-radius: 9999px;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.tree-contentlisthead .headimg .edit {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22px;
  text-align: center;
  vertical-align: text-bottom;
  color: #fff;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)";
}
.tree-contentlisthead .headimg img {
  border-radius: 9999px;
  width: 100%;
}
.tree-contentlisthead .headcontent {
  padding-top: 3px;
  padding-left: 30px;
}
.tree-contentlisthead .headcontent h2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}
