/*// 主题色*/
/*字体主色调*/
/*线条主色调*/
/*按钮主色调*/
/*底纹色*/
.basetit {
  padding: 15px 0;
  margin-bottom: 15px;
}
.basetit .left {
  width: 60%;
  border-right: 1px solid #eceff4;
  height: 100%;
  position: relative;
  float: left;
}
.basetit .right {
  float: left;
  width: 39%;
}
.basetit .headimg {
  position: absolute;
  width: 85px;
  height: 85px;
  overflow: hidden;
  left: 45px;
  top: 15px;
}
.basetit .headimg img {
  width: 100%;
}
.basetit .headcontent {
  padding-left: 175px;
  line-height: 36px;
  min-height: 140px;
}
.basetit .headcontent h1 {
  font-size: 22px;
  line-height: 38px;
  font-weight: bold;
}
.basetit .headcontent .list {
  float: left;
  padding-right: 30px;
}
.basetit .headcontent .list .a-link {
  padding-left: 12px;
}
.basetit .headcontent .list .btn {
  margin: 0 8px;
}
.basetit .headcontent .list i.look {
  vertical-align: middle;
  color: #ccc;
  font-size: 20px;
}
.basetit .headcontent .list i.sj {
  padding-right: 5px;
  vertical-align: top;
  color: #ccc;
  font-size: 20px;
}
span.pd30 {
  padding-left: 30px;
}
.basetit .rcontent {
  padding-left: 45px;
}
.basetit .rcontent h1 {
  font-size: 15px;
  line-height: 35px;
  font-weight: normal;
}
.basetit .rcontent h2 {
  font-size: 40px;
  font-weight: normal;
  vertical-align: text-bottom;
}
.basetit .rcontent h2 a {
  font-size: 14px;
  vertical-align: bottom;
}
.basetit .rcontent .btnrecharge {
  padding-top: 10px;
}
.basetit .rcontent .btnrecharge a {
  font-size: 16px;
}
.newswrap .left,
.newswrap .right {
  width: 50%;
}
.newswrap .left {
  float: left;
  padding-right: 10px;
}
.newswrap .right {
  float: right;
  padding-left: 10px;
}
.newswrap .table {
  margin-bottom: 40px;
}
.newswrap thead span {
  background: #389ee1;
  color: #fff;
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 2px;
  font-weight: normal;
}
.newswrap tbody tr {
  cursor: pointer;
}
